@charset "ISO-8859-1";

.dashboard-container {
	padding-top: 10vh;
	padding-bottom: 20vh;
}

.dashboard-header-logo-title {
	font-weight: 700;
	font-size: 30px;
}

.dashboard-header-logo-title-thin {
	font-weight: 400;
	font-size: 30px;
}

.btn-primary {
	background-color: var(--green-main) !important;
	border-color: var(--green-main) !important;
	outline: none !important;
	box-shadow: none !important;
}

.btn-primary:hover {
	background-color: var(--green-highlight) !important;
	border-color: var(--green-highlight) !important;
	outline: none !important;
	box-shadow: none !important;
}

.nav-bar-links {
	padding-left: 10vh;
}

.nav-link {
	color: black;
	padding-right: 3vw;
}

.nav-link:hover {
	color: var(--green-highlight);
}

.dashboard-section {
	padding-top: 10vh;
}