<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="template :: setup"></th:block>
</head>
<body>
	<!-- Header -->
    <th:block th:unless="${session.user}">
		<th:block th:replace="template :: guest-header"></th:block>
    </th:block>
    <th:block th:if="${session.user}">
		<th:block th:replace="template :: user-header"></th:block>
    </th:block>
    
    <!-- Body -->
	<main class="flex-shrink-0">
    <div class="container">
      <div class="dashboard-container">
        <h1 class="form-title">Transfer Funds</h1><br><br>
        
        <th:block th:unless="${session.user}">
        	<p>You don't have permission to view this page.</p>
        	<p><a th:href="@{/}">Return to index.</a></p>
        </th:block>
        <th:block th:if="${session.user}">
	        <form class="form" id="fund-form" th:action = "@{/fundHandler}" th:object = "${amount}" method="post" novalidate>
	        <input type = "number" onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))" id="amount" name="amount" placeholder="Quantity" /><label style="margin:15px;"><b>AUD</b></label><br>
	          <button type="submit" id = "top-up" class="btn btn-primary" name = "top-up" value = "top-up">Top Up</button>
	          <button style="margin:15px;" type="submit" id = "withdraw" class="btn btn-primary" name = "withdraw" value = "withdraw">Withdraw</button>  
	        </form>
	        <div class="validation-message" th:text="${noFunds}" th:if="${noFunds}"></div>
        </th:block>
      </div>
    </div>
	</main>
	 
	
	<!-- Footer -->
	<th:block th:replace="template :: screen-footer"></th:block>


</body>
</html>