<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="template :: setup"></th:block>
</head>

<body class="d-flex flex-column h-100">

	<!-- Header -->
    <th:block th:unless="${session.user}">
		<th:block th:replace="template :: guest-header"></th:block>
    </th:block>
    <th:block th:if="${session.user}">
		<th:block th:replace="template :: user-header"></th:block>
    </th:block>

  <!-- Main Body -->
  <main class="flex-shrink-0">
    <div class="form-container">
      <div class="container">
        <h1 class="form-title">Reset Password</h1>
        <th:block th:unless="${session.user}">
	        <p>You don't have permission to view this page.</p>
	        <p><a th:href="@{/}">Return to index.</a></p>
        </th:block>
        <th:block th:if="${session.user}">
        <form class="form" th:onsubmit="return validate_change_password()" th:action = "@{/changePasswordHandler}" th:object = "${user}" id="sign-up-form" method="post" novalidate>
          <input class="form-control" type="email" id="user-email" th:name="email" placeholder="Email" title="Please enter your email." required></input>
          <div class="validation-message" id="user-email-message"></div>
          <input class="form-control" type="password" id="user-oldpsd" th:name="oldPassword" placeholder="Old Password" title="Please enter your current password." required></input>
          <div class="validation-message" id="old-password-message"></div>
		  <div th:if="${error != null}"><p class="text-danger">[[${error}]]</p></div>
		  <div th:if="${message != null}"><p class="text-warning">[[${message}]]</p></div>
		  <input class="form-control" type="password" id="user-password" th:name="newPassword" placeholder="New Password" title="Please enter your password." required></input>
          <div class="validation-message" id="user-password-message"></div> 
          <input class="form-control" type="password" id="user-confirmpassword" th:name="confirmPassword" placeholder="Confirm Password" title="Please enter your password." required></input>
          <div class="validation-message" id="confirm-password-message"></div>
          <br />
          <button type="submit" id = "sign-in"class="btn btn-primary">Submit</button>
        </form>
        <!-- Flash attributes -->
		<div th:if="${error}">
			<p class="validation-message" th:text="${error}"></p>
		</div>
        </th:block>
      </div>
    </div>
  </main>

	<!-- Footer -->
	<th:block th:replace="template :: screen-footer"></th:block>
</body>

</html>
