<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<th:block th:replace="template :: setup"></th:block>

	<!-- Javascript -->
	<script type="text/javascript" th:src="@{/scripts/dashboard.js}"></script>

</head>

<body class="d-flex flex-column h-100">
	<!-- Header -->
    <th:block th:unless="${session.user}">
		<th:block th:replace="template :: guest-header"></th:block>
    </th:block>
    <th:block th:if="${session.user}">
		<th:block th:replace="template :: user-header"></th:block>
    </th:block>


	<!-- Main Body -->
	<main class="flex-shrink-0">
		<div class="container">
			<div class="dashboard-container">
				<th:block th:unless="${session.user}">
				<h1>Dashboard</h1>
				<p>You don't have permission to view this page.</p>
				<p><a th:href="@{/}">Return to index.</a></p>
				</th:block>
				<th:block th:if="${session.user}">

				<h1>Welcome to your dashboard, <span th:text="${#strings.capitalize(#strings.toLowerCase(session.user.firstName))}"></span></h1> <br>
				<h4 class="green-text-v1">View your portfolio and current rates!</h4>
				<div class="dashboard-section">
					
					<h2>Portfolio Overview</h2>
					<br />
					
					<!-- Portfolio Table -->
					<table class="table align-middle">
						<tr>
							<th>Instrument</th>
							<th>Quantity</th>
							<th>Value ($AUD)</th>
						</tr>
						
						<tr th:each="heldCurrency:${heldCurrencys}">
							<td class="align-top"><div th:class="${'currency-flag currency-flag-' + heldCurrency.value.currency.toString().toLowerCase()}"></div>
								<span class="currency-text" th:text="${heldCurrency.value.currency.currencyCode}"></span></td>
								
								<td><span th:text="${heldCurrency.value.quantity}"></span></td>
								<td><span th:text="${heldCurrency.key}"></span></td>
							</tr>
						</table>
						
						<!-- Portfolio Value -->
						<p><span > Total Portfolio Value </span></p>
						<h4> AUD <span class="green-text-v1" th:text="${TotalBalance}"></span></h4>
					</div>
					
					<!-- Rates -->
					<div class="dashboard-section">
						<h2>Rates</h2>
					
        
        <br />
        
        <!-- Rates Table -->
        <table class="table align-middle" >
        	<tr>
        		<th>Instrument</th>
        		<th>Rate</th>
        	</tr>
        	
        	<tr th:each="rate:${rates}">

        		<td><div th:class="${'currency-flag currency-flag-' + currency.toString().toLowerCase()}"></div>
        			<div th:class="${'currency-flag currency-flag-' + rate.key.toString().toLowerCase()}"></div>
        			<span class="currency-text"  th:text="${currency}"/></span>-<span class="currency-text" th:text="${rate.key}"/></span></td>
        			<td><span th:text="${rate.value}"/></span></td>
        			<td><a role="button" th:href="@{/placeOrderHandler}" id = "place-order"class="btn btn-primary">Trade</a><td>
        			</tr>


        		</table>


        		<!-- Rate Filter -->
        		<form th:action="@{/getRateHandler}" method="post" >

        			<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" onchange="if (this.selectedIndex) enableSubmitButton();" id="currency" name="currency">
						<option value="" selected disabled>filter</option>
						<option value="AUD">AUD</option>
						<option value="CAD">CAD</option>
						<option value="EUR">EUR</option>
						<option value="GBP">GBP</option>
						<option value="JPY">JPY</option>
						<option value="NZD">NZD</option>
						<option value="USD">USD</option>

					</select>
        			
        			<button type="submit" class="btn btn-primary btn-lg" id="get-rate-submit-button" disabled="disable" >submit</button>

        		</form>

        	</div>
		</th:block>
        </div>
      </div>
    </main>

	<!-- Footer -->
	<th:block th:replace="template :: page-footer"></th:block>

  </body>

  </html>