<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="template :: setup"></th:block>
</head>

<body class="d-flex flex-column h-100">
	<!-- Header -->
    <th:block th:unless="${session.user}">
		<th:block th:replace="template :: guest-header"></th:block>
    </th:block>
    <th:block th:if="${session.user}">
		<th:block th:replace="template :: user-header"></th:block>
    </th:block>

  <!-- Main Body -->
  <main class="flex-shrink-0">
    <div class="form-container">
      <div class="container">
        <h1 class="form-title">Forgotten your password?</h1>
				<div th:if="${error != null}">
					<p class="text-danger">[[${error}]]</p>
				</div>
				<div th:if="${message != null}">
					<p class="text-warning">[[${message}]]</p>
				</div>
		  <form class="form" th:onsubmit="return validate_reset_password()" th:action = "@{/forgetPasswordHandler}" th:object = "${user}" id="sign-up-form" method="post" novalidate>
          <input class="form-control" type="text" id="user-email" th:name="email" placeholder="Email" title="Please enter your email." required></input>
          <div class="validation-message" id="user-email-message"></div>
          <br />
          <button type="submit" id = "sign-in"class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </main>

	<!-- Footer -->
	<th:block th:replace="template :: screen-footer"></th:block>
</body>

</html>
