<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="template :: setup"></th:block>
</head>
<body>
	<th:block th:replace="template :: header"></th:block>

	<main class="flex-shrink-0">
		<div class="container">
			<div class="dashboard-container">
				<h1>Your Order History</h1>
				<table class="table">
					<tr>
						<th colspan="2">Selling</th>
						<th>Remaining</th>
						<th colspan="2">Buying</th>
						<th>Current Value</th>
						<th>Expires</th>
						<th colspan="2">Status</th>
					</tr>
					
					<!-- Show all orders for this user -->
					<th:block th:each="order : ${orders}">
						<tr>
							<td>Image</td>
							<td th:text="${order.baseCurrency}"></td>
							<td><th:block th:text="${#numbers.formatDecimal(order.quantity, 1, 'DEFAULT', 2, 'DEFAULT')}"></th:block>
								/
								<th:block th:text="${#numbers.formatDecimal(order.initialQuantity, 1, 'DEFAULT', 2, 'DEFAULT')}"></th:block>
							</td>
							<td>Image</td>
							<td th:text="${order.targetCurrency}"></td>
							<td th:text="${#numbers.formatDecimal(order.quantity * rates.get(order.targetCurrency) / rates.get(order.baseCurrency), 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
							<td th:text="${order.expiryDate}"></td>
							<td th:text="${order.orderStatus}"></td>
							<td>
								<a th:if="${order.orderStatus.name() == 'ACTIVE' || order.orderStatus.name() == 'PARTIALLY_COMPLETE'}" th:href="@{/cancelorder(orderId=${order.orderId})}">Cancel</a></td>
						</tr>
						
						<!-- Show all transactions for this order -->
						<tr th:each="trans : ${order.getTransactions()}" class="table-info">
							<td colspan="2"></td>
							<td colspan="7">At <th:block th:text="${#temporals.format(trans.time, 'h:mma, d MMM yyyy')}"></th:block>, 
							<!-- Check which way around the transaction goes -->
							<th:block th:if="${trans.currency1.equals(order.baseCurrency)}">
								<!-- This order is party 1 in the transaction -->
								sold
								<th:block th:text="|${trans.currency1} ${#numbers.formatDecimal(trans.quantity1, 1, 'DEFAULT', 2, 'DEFAULT')}|"></th:block>
								for
								<th:block th:text="|${trans.currency2} ${#numbers.formatDecimal(trans.quantity2, 1, 'DEFAULT', 2, 'DEFAULT')}|"></th:block>

							</th:block>
							<th:block th:if="${trans.currency2.equals(order.baseCurrency)}">
								<!-- This order is party 2 in the transaction -->
								sold
								<th:block th:text="|${trans.currency2} ${#numbers.formatDecimal(trans.quantity2, 1, 'DEFAULT', 2, 'DEFAULT')}|"></th:block>
								for
								<th:block th:text="|${trans.currency1} ${#numbers.formatDecimal(trans.quantity1, 1, 'DEFAULT', 2, 'DEFAULT')}|"></th:block>
							</th:block>
							<!-- Optional section for forward trades -->
							<th:block th:if="${trans.scheduledDate}">
								<th:block th:if="${trans.scheduledDate <= now}">
									exchanged on <th:block th:text="${#temporals.format(trans.scheduledDate, 'd MMM yyyy')}"></th:block>
								</th:block>
								<th:block th:if="${trans.scheduledDate > now}">
									scheduled for <th:block th:text="${#temporals.format(trans.scheduledDate, 'd MMM yyyy')}"></th:block>
								</th:block>
							</th:block>
							</td>
						</tr>
						
					</th:block>
				</table>
			</div>
		</div>
	</main>
	
	<th:block th:replace="template :: footer"></th:block>

</body>
</html>