<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="template :: setup"></th:block>
</head>
<body>
	<th:block th:replace="template :: header"></th:block>

	<main class="flex-shrink-0">
		<div class="container">
			<div class="dashboard-container">
				<h1>Order History</h1>
				<table class="table">
					<tr>
						<th colspan="2">Selling</th>
						<th>Remaining</th>
						<th colspan="2">Buying</th>
						<th>Current Value</th>
						<th>Expires</th>
						<th>Status</th>
					</tr>
					<th:block th:each="order : ${orders}">
						<tr>
							<td>Image</td>
							<td th:text="${order.baseCurrency}"></td>
							<td><th:block th:text="${#numbers.formatDecimal(order.quantity, 1, 'DEFAULT', 2, 'DEFAULT')}"></th:block>
								/
								<th:block th:text="${#numbers.formatDecimal(order.initialQuantity, 1, 'DEFAULT', 2, 'DEFAULT')}"></th:block>
							</td>
							<td>Image</td>
							<td th:text="${order.targetCurrency}"></td>
							<td>?</td>
							<td th:text="${order.expiryDate}"></td>
							<td th:text="${order.orderStatus}"></td>
						</tr>
						<tr th:each="trans : ${order.getTransactions()}" class="table-info">
							<td colspan="2"></td>
							<td colspan="6">At <th:block th:text="${#temporals.format(trans.time, 'h:mma, d MMM yyyy')}"></th:block>, 
							<!-- Check which way around the transaction goes -->
							<th:block th:if="${trans.currency1.equals(order.baseCurrency)}">
								<!-- This order is party 1 -->
								sold
								<th:block th:text="|${trans.currency1} ${#numbers.formatDecimal(trans.quantity1, 1, 'DEFAULT', 2, 'DEFAULT')}|"></th:block>
								for
								<th:block th:text="|${trans.currency2} ${#numbers.formatDecimal(trans.quantity2, 1, 'DEFAULT', 2, 'DEFAULT')}|"></th:block>
							</th:block>
							<th:block th:if="${trans.currency2.equals(order.baseCurrency)}">
								<!-- This order is party 2 -->
								sold
								<th:block th:text="|${trans.currency2} ${#numbers.formatDecimal(trans.quantity2, 1, 'DEFAULT', 2, 'DEFAULT')}|"></th:block>
								for
								<th:block th:text="|${trans.currency1} ${#numbers.formatDecimal(trans.quantity1, 1, 'DEFAULT', 2, 'DEFAULT')}|"></th:block>
							</th:block>
						</tr>
					</th:block>
				</table>
			</div>
		</div>
	</main>
	<footer style="bottom: 0; width: 100%; position: fixed;"class="footer mt-auto py-3 bg-light">
    	<div class="container">
      	<img id="footer_logo" th:src="@{/images/lettuce_logo_dark.png}" alt="Lettuce_Icon" width="40" height="48" />
     	<span class="text-muted">&copy; 2021 Lettuce</span>
    	</div>
  	  </footer>

</body>
</html>