<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">

<head>
  <meta charset="ISO-8859-1">
  <title>LettuceTrade</title>
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--CSS References-->
  <link th:href="@{/css/standard_styles.css}" rel="stylesheet" />
  <link th:href="@{/css/index_styles.css}" rel="stylesheet" />
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100">
  <div class="scroll-container">
  
  <!-- First Half -->
    <section class="one">
      <!-- Header -->
      <main>
        <header class="p-3 mb-3 border-bottom">
          <div class="container">
            <!-- Logo -->
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <a class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none" th:href="@{/}">
                <img id="header_logo" th:src="@{/images/lettuce_logo_dark.png}" alt="Lettuce_Icon" width="40" height="48" />
                <span class="index-header-logo-title"> Lettuce <span class="index-header-logo-title-thin">Trade</span></span>
              </a>
              <!-- Sign Up and Log In buttons -->
              <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                <div>
                  <a class="btn btn-primary" th:href="@{/register}">Sign Up</a>
                  <a class="btn btn-outline-light me-2" th:href="@{/login}">Log In</a>
                </div>
              </div>
            </div>
          </div>
        </header>
      </main>
  
      <div class="container">
        <div class="index-container">
          <h1 class="index-header-1">A <span class="green-text-v1">fresh</span> new way to trade online smarter and faster</h1>
          <p>Trade with confidence on a rapidly growing forex platform with the best rates and no restrictions.</p>
          <p>Access <span class="green-text-v1">olive</span> your currencies anywhere, anytime.</p>
        </div>
      </div>
    </section>

 	<!-- Second Half -->
    <section class="two">
      <div class="container">
        <h2 class="index-header-2">Un-<span class="green-text-v1">beet</span>-able rates.</h2>
        <p>Exclusive exchange rates.</p>
        
        <input class="form-control" list="currency-choices" id="currency" name="currency" placeholder="AUD"/>
        <datalist id="currency-choices">
        	<option value="AUD">
        	<option value="USD">
        	<option value="CAD">
        	<option value="GBP">
        	<option value="NZD">
        	<option value="JPY">
        	<option value="RMB">
        </datalist>
        <br/><br/><br/>

        <table class="table">
          <tr>
            <th colspan="2">Instrument</th>
            <th>Bid</th>
            <th>Ask</th>
            <th>Spread</th>
          </tr>
          <tr>
            <td>IMAGE</td>
            <td>Instrument</td>
            <td>Bid</td>
            <td>Ask</td>
            <td>Spread</td>
          </tr>
          <tr>
            <td>IMAGE</td>
            <td>Instrument</td>
            <td>Bid</td>
            <td>Ask</td>
            <td>Spread</td>
          </tr>
          <tr>
            <td>IMAGE</td>
            <td>Instrument</td>
            <td>Bid</td>
            <td>Ask</td>
            <td>Spread</td>
          </tr>
          <tr>
            <td>IMAGE</td>
            <td>Instrument</td>
            <td>Bid</td>
            <td>Ask</td>
            <td>Spread</td>
          </tr>
        </table>
      </div>
    </section>
	<!-- Footer -->
    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
 		<img id="footer_logo" th:src="@{/images/lettuce_logo_dark.png}" alt="Lettuce_Icon" width="40" height="48" />
         <span class="text-muted">&copy; 2021 Lettuce</span>
      </div>
    </footer>
  <!-- <div class="scroll-container"> closing tag -->
  </div> 
</body>

</html>