<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="template :: setup"></th:block>
</head>

<body class="d-flex flex-column h-100">
  <div class="scroll-container">
  
  <!-- First Half -->
    <section class="one">
	<!-- Header -->
    <th:block th:unless="${session.user}">
		<th:block th:replace="template :: guest-header"></th:block>
    </th:block>
    <th:block th:if="${session.user}">
		<th:block th:replace="template :: user-header"></th:block>
    </th:block>
      <div class="container">
        <div class="index-container">
          <h1 class="index-header-1">A <span class="green-text-v1">fresh</span> new way to trade online smarter and faster</h1>
          <p>Trade with confidence on a rapidly growing forex platform with the best rates and no restrictions.</p>
          <p>Access <span class="green-text-v1">olive</span> your currencies anywhere, anytime.</p>
        </div>
      </div>
    </section>

 	<!-- Second Half -->
    <section class="two">
      <div class="container">
        <h2 class="index-header-2">Un-<span class="green-text-v1">beet</span>-able rates.</h2>
        <p>Exclusive exchange rates.</p>
        
        <table class="table align-middle" >
        	<tr>
        		<th>Instrument</th>
        		<th>Rate</th>
        	</tr>
        	
        	<tr th:each="rate:${rates}">

        		<td><div th:class="${'currency-flag currency-flag-' + currency.toString().toLowerCase()}"></div>
        			<div th:class="${'currency-flag currency-flag-' + rate.key.toString().toLowerCase()}"></div>
        			<span class="currency-text" th:text="${currency}"></span>-<span class="currency-text" th:text="${rate.key}"></span></td>
        			<td><span th:text="${rate.value}"/></span></td>
        			
        			</tr>


        		</table>


        		<!-- Rate Filter -->
        		<form th:action="@{/changeRateHandler}" method="post" >

        			<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" onchange="if (this.selectedIndex) enableSubmitButton();" id="currency" name="currency">
						<option value="" selected disabled>filter</option>
						<option value="AUD">AUD</option>
						<option value="CAD">CAD</option>
						<option value="EUR">EUR</option>
						<option value="GBP">GBP</option>
						<option value="JPY">JPY</option>
						<option value="NZD">NZD</option>
						<option value="USD">USD</option>

					</select>
        			
        			<button type="submit" class="btn btn-primary btn-lg" id="get-rate-submit-button" disabled="disable" >submit</button>

        		</form>
      </div>
    </section>
    
    
	<!-- Footer -->
	<th:block th:replace="template :: page-footer"></th:block>
	
  </div> 
</body>

</html>