<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="template :: setup"></th:block>
</head>

<body class="d-flex flex-column h-100">
	<!-- Header -->
    <th:block th:unless="${session.user}">
		<th:block th:replace="template :: guest-header"></th:block>
    </th:block>
    <th:block th:if="${session.user}">
		<th:block th:replace="template :: user-header"></th:block>
    </th:block>

  <!-- Main Body -->
  <main class="flex-shrink-0">
    <div class="form-container">
      <div class="container">
        <h1 class="form-title">Login</h1>
        <form class="form" th:onsubmit="return validate_login()" th:action = "@{/loginHandler}" th:object = "${user}" id="sign-up-form" method="post" novalidate>
          <input class="form-control" type="text" id="user-email" th:name="email" placeholder="Email" title="Please enter your email." required></input>
          <div class="validation-message" id="user-email-message"></div>
          <input class="form-control" type="password" id="user-password" th:name="password" placeholder="Password" title="Please enter your password." required></input>
          <div class="validation-message" id="user-password-message"></div>
          <br />
          <p>New to Lettuce? <a th:href="@{/register}">Sign Up</a></p> <p><a th:href="@{/forgotPasswordForm}">Forget your password?</a></p>
          <button type="submit" id = "sign-in"class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </main>

	<!-- Footer -->
	<th:block th:replace="template :: screen-footer"></th:block>
</body>

</html>
