<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="template :: setup"></th:block>
<link th:href="@{/css/flags.css}" rel="stylesheet" />
</head>
<body>
	<th:block th:replace="template :: header"></th:block>

	<main class="flex-shrink-0">
		<div class="container">
			<div class="dashboard-container">
				<h1>All available orders</h1>
				
				<table class="table">
					<tr>
						<th colspan="2">Selling</th>
						<th>Remaining</th>
						<th>Fulfill</th>
						<th>Buy</th>
					</tr>
					<th:block th:each="rate: ${outRates}">
					<form th:action="@{/outOrderHandler}" th:object="${newOrder}" method="post">
						<tr>
							<td>
							<div th:class="${'currency-flag currency-flag-' + rate.key.substring(0,3).toLowerCase()}"></div>
							<div th:class="${'currency-flag currency-flag-' + rate.key.substring(7,10).toLowerCase()}"></div>
							</td>
							<td> <input type = "text" th:value ="${rate.key}" th:id="details" th:name = "details" readonly></td>
							<td th:text = "${#numbers.formatDecimal(rate.value, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
							
							<td><input type="number" th:field="*{initialQuantity}"></td>						
							<td><input type ="submit" value = "Buy" th:data-confirm-delete="|Are you sure you want to place trade?|"
  onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"></td>
						</tr>
						</form>
					</th:block>
				</table>

				<div class="validation-message" th:text="${noFunds}" th:if="${noFunds}"></div>

			</div>
		</div>

	</main>
	<footer style="bottom: 0; width: 100%; position: fixed;"
		class="footer mt-auto py-3 bg-light">
		<div class="container">
			<img id="footer_logo" th:src="@{/images/lettuce_logo_dark.png}"
				alt="Lettuce_Icon" width="40" height="48" /> <span
				class="text-muted">&copy; 2021 Lettuce</span>
		</div>
	</footer>

</body>
</html>