<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="template :: setup"></th:block>
<link th:href="@{/css/flags.css}" rel="stylesheet" />
<script type = "text/javascript" th:src ="@{scripts/outOrder.js}"></script>
</head>
<body>
	<!-- Header -->
    <th:block th:unless="${session.user}">
		<th:block th:replace="template :: guest-header"></th:block>
    </th:block>
    <th:block th:if="${session.user}">
		<th:block th:replace="template :: user-header"></th:block>
    </th:block>

	<main class="flex-shrink-0">
		<div class="container">
			<div class="dashboard-container">
				<h1>All available orders</h1>
				<br/>
				
				
				<th:block th:unless="${session.user}">
				<p>You don't have permission to view this page.</p>
				<p><a th:href="@{/}">Return to index.</a></p>
				</th:block>
				<th:block th:if="${session.user}">
				
				<table class="table mytable" id = "myTable">
					<tr>
						<th colspan="2">Selling</th>
						<th>Remaining</th>
						<th>Fulfill</th>
						<th>Total cost</th>
						<th>Buy</th>
					</tr>
					<th:block th:each="rate: ${outRates}">
					<form th:action="@{/outOrderHandler}" th:object="${newOrder}" method="post">
						<tr th:id= "${rate.key}">
							<td>
							<div th:class="${'currency-flag currency-flag-' + rate.key.substring(0,3).toLowerCase()}"></div>
							<div th:class="${'currency-flag currency-flag-' + rate.key.substring(7,10).toLowerCase()}"></div>
							</td>
							<td> 
							<input type = "text" th:value ="${rate.key}" th:id="details" th:name = "details" readonly>
							 
							</td>
							<td th:text = "${#numbers.formatDecimal(rate.value, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
							
							<td ><input id="quant" type="number" th:field="*{initialQuantity}" th:oninput= "total([[${rate.key}]])"></td>	
							<td>
								<span
									id="totalPrice" th:text="0">0</span>		
							</td>		
							<td><input type ="submit" value = "Buy" th:data-confirm-delete="|Are you sure you want to place trade?|"
  onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"></td>
						</tr>
						</form>
					</th:block>
				</table>

				<div class="validation-message" th:text="${noFunds}" th:if="${noFunds}"></div>
				
				</th:block>

			</div>
		</div>

	</main>

	<!-- Footer -->
	<th:block th:replace="template :: screen-footer"></th:block>

</body>
</html>