<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="template :: setup"></th:block>
<link th:href="@{/css/flags.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/scripts/dashboard.js}"></script>
</head>
<body>

	<th:block th:replace="template :: header"></th:block>

  <!-- Main Body -->
  <main class="flex-shrink-0">
    <div class="container">
      <div class="dashboard-container">
      
        <h1>View our current rates</h1> <br>
        <div class="rates-section">
        	<table class="table align-middle" >
	        	<tr>
	        		<th>Instrument</th>
	        		<th>Rate</th>
	        	</tr>
	        	
	        	<tr th:each="rate:${rates}">
	
	        		<td><div th:class="${'currency-flag currency-flag-' + currency.toString().toLowerCase()}"></div>
        			<div th:class="${'currency-flag currency-flag-' + rate.key.toString().toLowerCase()}"></div>
        			<span th:text="${currency}"></span>-<span th:text="${rate.key}"></span></td>
        			<td><span th:text="${rate.value}"/></span></td>
	        			
	        	</tr>
	
	
	        	</table>

        		<!-- Rate Filter -->
        		<form th:action="@{/ratesHandler}" method="post" >

        			<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" onchange="if (this.selectedIndex) enableSubmitButton();" id="currency" name="currency">
						<option value="" selected disabled>filter</option>
						<option value="AUD">AUD</option>
						<option value="CAD">CAD</option>
						<option value="CHF">CHF</option>
						<option value="CNY">CNY</option>
						<option value="EUR">EUR</option>
						<option value="GBP">GBP</option>
						<option value="HKD">HKD</option>
						<option value="JPY">JPY</option>
						<option value="NZD">NZD</option>
						<option value="USD">USD</option>

					</select>
        			
        			<button type="submit" class="btn btn-primary btn-lg" id="get-rate-submit-button" disabled="disable" >submit</button>

        		</form>
        </div>
      </div>
    </div>
  </main>
	
	<th:block th:replace="template :: footer"></th:block>

</body>
</html>
