<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="template :: setup"></th:block>
<link th:href="@{/css/flags.css}" rel="stylesheet" />
</head>
<body>

	<th:block th:replace="template :: header"></th:block>

  <!-- Main Body -->
  <main class="flex-shrink-0">
    <div class="container">
      <div class="dashboard-container">
      
        <h1>View our current rates</h1> <br>
        <div class="rates-section">
        	<table class="table align-middle">
        		<tr>
	              <th colspan="2">Instrument</th>
	              <th>Rate</th>
	            </tr>
	            
	            <!-- For each currency... -->
	            <th:block th:each="firstRate : ${rates}">
	            	<!-- ...compare it against each of the other currencies. -->
	            	<tr th:each="secondRate : ${rates}" th:unless="${firstRate.key.equals(secondRate.key)}">
	            		<!-- For each pair found, show the flags and calculate the rate between them. -->
	            		<td>
	            			<div th:class="${'currency-flag currency-flag-' + firstRate.key.toString().toLowerCase()}"></div>
	            			<div th:class="${'currency-flag currency-flag-' + secondRate.key.toString().toLowerCase()}"></div>
<!-- 	            			<img th:src="@{${'/images/' + firstRate.key + '.png'}}" width="40" height="40" /> -->
<!-- 	            			<img th:src="@{${'/images/' + secondRate.key + '.png'}}" width="40" height="40" /> -->
						</td>
	            		<td th:text="${firstRate.key + '-' + secondRate.key}"></td>
	            		<td th:text="${#numbers.formatDecimal(secondRate.value / firstRate.value, 1, 'DEFAULT', 4, 'DEFAULT')}"></td>
	            	</tr>
	            </th:block>
        	</table>
        </div>
      </div>
    </div>
  </main>
	
	<th:block th:replace="template :: footer"></th:block>

</body>
</html>
