<html xlmns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="template :: setup"></th:block>
</head>

<th:block th:replace="template :: header"></th:block>


  <!-- Main Body -->
  <main class="flex-shrink-0">
    <div class="container">
      <div class="dashboard-container">
      
        <h1>View our current rates</h1> <br>
        <h4 class="green-text-v1">View list of current rates!</h4>
        
        <div class="rates-section">
        	
        	<br />
        	<table class="table align-middle">
        		<tr>
	              <th colspan="2">Instrument</th>
	              <th>Rate</th>
	            </tr>
	            
	            <tr>
	              <td><img id="AUD_flag" th:src="@{/images/AUD.png}" width="40" height="40" />
	              <img id="USD_flag" th:src="@{/images/USD.png}" width="40" height="40" /></td>
	              <td>AUD-USD</td>
	              <td><span th:text="${ratelist[0]}"></span></td>
	            </tr>
	            <tr>
	              <td><img id="AUD_flag" th:src="@{/images/AUD.png}" width="40" height="40" />
	              <img id="CAD_flag" th:src="@{/images/CAD.png}" width="40" height="40" /></td>
	              <td>AUD-CAD</td>
	              <td><span th:text="${ratelist[1]}"></span></td>
	            </tr>
	            <tr>
	              <td><img id="AUD_flag" th:src="@{/images/AUD.png}" width="40" height="40" />
	              <img id="GBP_flag" th:src="@{/images/GBP.png}" width="40" height="40" /></td>
	              <td>AUD-GBP</td>
	              <td><span th:text="${ratelist[2]}"></span></td>
	            </tr>
	            <tr>
	              <td><img id="AUD_flag" th:src="@{/images/AUD.png}" width="40" height="40" />
	              <img id="NZD_flag" th:src="@{/images/NZD.png}" width="40" height="40" /></td>
	              <td>AUD-NZD</td>
	              <td><span th:text="${ratelist[3]}"></span></td>
	            </tr>
	            <tr>
	              <td><img id="AUD_flag" th:src="@{/images/AUD.png}" width="40" height="40" />
	              <img id="EUR_flag" th:src="@{/images/EUR.png}" width="40" height="40" /></td>
	              <td>AUD-EUR</td>
	              <td><span th:text="${ratelist[4]}"></span></td>
	            </tr>
	            <tr>
	              <td><img id="AUD_flag" th:src="@{/images/AUD.png}" width="40" height="40" />
	              <img id="JPY_flag" th:src="@{/images/JPY.png}" width="40" height="40" /></td>
	              <td>AUD-JPY</td>
	              <td><span th:text="${ratelist[5]}"></span></td>
	            </tr>
	            <tr>
	              <td><img id="USD_flag" th:src="@{/images/USD.png}" width="40" height="40" />
	              <img id="CAD_flag" th:src="@{/images/CAD.png}" width="40" height="40" /></td>
	              <td>USD-CAD</td>
	              <td><span th:text="${ratelist[6]}"></span></td>
	            </tr>
	            <tr>
	              <td><img id="USD_flag" th:src="@{/images/USD.png}" width="40" height="40" />
	              <img id="GBP_flag" th:src="@{/images/GBP.png}" width="40" height="40" /></td>
	              <td>USD-GBP</td>
	              <td><span th:text="${ratelist[7]}"></span></td>
	            </tr>
	            <tr>
	              <td><img id="USD_flag" th:src="@{/images/USD.png}" width="40" height="40" />
	              <img id="NZD_flag" th:src="@{/images/NZD.png}" width="40" height="40" /></td>
	              <td>USD-NZD</td>
	              <td><span th:text="${ratelist[8]}"></span></td>
	            </tr>
	            <tr>
	              <td><img id="USD_flag" th:src="@{/images/USD.png}" width="40" height="40" />
	              <img id="EUR_flag" th:src="@{/images/EUR.png}" width="40" height="40" /></td>
	              <td>USD-EUR</td>
	              <td><span th:text="${ratelist[9]}"></span></td>
	            </tr>
	            <tr>
	              <td><img id="USD_flag" th:src="@{/images/USD.png}" width="40" height="40" />
	              <img id="JPY_flag" th:src="@{/images/JPY.png}" width="40" height="40" /></td>
	              <td>USD-JPY</td>
	              <td><span th:text="${ratelist[10]}"></span></td>
	            </tr>
	            <tr>
	              <td><img id="CAD_flag" th:src="@{/images/CAD.png}" width="40" height="40" />
	              <img id="GBP_flag" th:src="@{/images/GBP.png}" width="40" height="40" /></td>
	              <td>CAD-GBP</td>
	              <td><span th:text="${ratelist[11]}"></span></td>
	            </tr>
	            <tr>
	              <td><img id="CAD_flag" th:src="@{/images/CAD.png}" width="40" height="40" />
	              <img id="NZD_flag" th:src="@{/images/NZD.png}" width="40" height="40" /></td>
	              <td>CAD-NZD</td>
	              <td><span th:text="${ratelist[12]}"></span></td>
	            </tr>
	            <tr>
	              <td><img id="CAD_flag" th:src="@{/images/CAD.png}" width="40" height="40" />
	              <img id="EUR_flag" th:src="@{/images/EUR.png}" width="40" height="40" /></td>
	              <td>CAD-EUR</td>
	              <td><span th:text="${ratelist[13]}"></span></td>
	            </tr>
	            <tr>
	              <td><img id="CAD_flag" th:src="@{/images/CAD.png}" width="40" height="40" />
	              <img id="JPY_flag" th:src="@{/images/JPY.png}" width="40" height="40" /></td>
	              <td>CAD-JPY</td>
	              <td><span th:text="${ratelist[14]}"></span></td>
	            </tr>
	            <tr>
	              <td><img id="GBP_flag" th:src="@{/images/GBP.png}" width="40" height="40" />
	              <img id="NZD_flag" th:src="@{/images/NZD.png}" width="40" height="40" /></td>
	              <td>GBP-NZD</td>
	              <td><span th:text="${ratelist[15]}"></span></td>
	            </tr>
	            <tr>
	              <td><img id="GBP_flag" th:src="@{/images/GBP.png}" width="40" height="40" />
	              <img id="EUR_flag" th:src="@{/images/EUR.png}" width="40" height="40" /></td>
	              <td>GBP-EUR</td>
	              <td><span th:text="${ratelist[16]}"></span></td>
	            </tr>
	            <tr>
	              <td><img id="GBP_flag" th:src="@{/images/GBP.png}" width="40" height="40" />
	              <img id="JPY_flag" th:src="@{/images/JPY.png}" width="40" height="40" /></td>
	              <td>GBP-JPY</td>
	              <td><span th:text="${ratelist[17]}"></span></td>
	            </tr>
	            <tr>
	              <td><img id="NZD_flag" th:src="@{/images/NZD.png}" width="40" height="40" />
	              <img id="EUR_flag" th:src="@{/images/EUR.png}" width="40" height="40" /></td>
	              <td>NZD-EUR</td>
	              <td><span th:text="${ratelist[18]}"></span></td>
	            </tr>
	            <tr>
	              <td><img id="NZD_flag" th:src="@{/images/NZD.png}" width="40" height="40" />
	              <img id="JPY_flag" th:src="@{/images/JPY.png}" width="40" height="40" /></td>
	              <td>NZD-JPY</td>
	              <td><span th:text="${ratelist[19]}"></span></td>
	            </tr>
	            <tr>
	              <td><img id="EUR_flag" th:src="@{/images/EUR.png}" width="40" height="40" />
	              <img id="JPY_flag" th:src="@{/images/JPY.png}" width="40" height="40" /></td>
	              <td>EUR-JPY</td>
	              <td><span th:text="${ratelist[20]}"></span></td>
	            </tr>
        	</table>
        </div>

      </div>
    </div>
  </main>
  
  <!-- Footer -->
  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <img id="footer_logo" th:src="@{/images/lettuce_logo_dark.png}" alt="Lettuce_Icon" width="40" height="48" />
      <span class="text-muted">&copy; 2021 Lettuce</span>
    </div>
  </footer>

</body>
</html>
