<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:replace="template :: setup"></th:block>
<script type="text/javascript" th:src="@{/scripts/validations.js}"></script>
</head>

<body class="d-flex flex-column h-100">
	<!-- Header -->
    <th:block th:unless="${session.user}">
		<th:block th:replace="template :: guest-header"></th:block>
    </th:block>
    <th:block th:if="${session.user}">
		<th:block th:replace="template :: user-header"></th:block>
    </th:block>

  <!-- Main Body -->
  <main class="flex-shrink-0">
    <div class="form-container">
      <div class="container">
        <h1 class="form-title">Sign Up</h1>
        <form class="form" th:onsubmit="return validate_signUp()" id="sign-up-form" th:action = "@{/registerHandler}" th:object = "${user}" method="post" novalidate>
          <input class="form-control" type="text" id="user-firstName" th:name="firstName" placeholder="First Name" title="Please enter your first name." required></input>
          <div class="validation-message" id="user-firstName-message"></div>
          <input class="form-control" type="text" id="user-lastName" th:name="lastName" placeholder="Last Name" title="Please enter your last name." required></input>
          <div class="validation-message" id="user-lastName-message"></div>
          <input class="form-control" type="email" id="user-email" th:name="email" placeholder="Email" title="Please enter your email." required></input>
          <div class="validation-message" id="user-email-message"></div>
          <input class="form-control" type="password" id="user-password" th:name="password" placeholder="Password" title="Please enter your password." required></input>
          <div class="validation-message" id="user-password-message"></div>
          <input class="form-control" type="password" id="user-confirm-password" th:name="user-confirm-password" placeholder="Confirm Password" title="Please confirm your password." required></input>
          <div class="validation-message" id="user-confirm-password-message"></div>
          <br />
          <button type="submit" id = "sign-up"class="btn btn-primary">Sign Up</button>
        </form>
      </div>
    </div>
  </main>

  <!-- Footer -->
	<th:block th:replace="template :: page-footer"></th:block>

</html>