<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:replace="template :: setup"></th:block>
</head>

<body class="d-flex flex-column h-100">
	<!-- Header -->
    <th:block th:unless="${session.user}">
		<th:block th:replace="template :: guest-header"></th:block>
    </th:block>
    <th:block th:if="${session.user}">
		<th:block th:replace="template :: user-header"></th:block>
    </th:block>

  <!-- Main Body -->
  <main class="flex-shrink-0">
   <section class="three">
    <div class="form-container">
      <div class="container">
      <div class="register-info-container">
        <h1 class="form-title">Sign Up <span>Successful</span></h1>
        <h4 class="green-text-v1">Thank you for signing up!</h4>
        <p class="register-info">Please click on the link in the email sent to your inbox to verify your account.</p>
        <a th:href="@{/}">&#8592; Back to Home</a>
      </div>
      </div>
    </div>
    </section>
  </main>

  <!-- Footer -->
	<th:block th:replace="template :: page-footer"></th:block>
</body>

</html>