<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:replace="template :: setup"></th:block>
<script type="text/javascript" th:src="@{/scripts/validations.js}"></script>
</head>

<body class="d-flex flex-column h-100">
	<!-- Header -->
    <th:block th:unless="${session.user}">
		<th:block th:replace="template :: guest-header"></th:block>
    </th:block>
    <th:block th:if="${session.user}">
		<th:block th:replace="template :: user-header"></th:block>
    </th:block>

  <!-- Main Body -->
  <main class="flex-shrink-0">
    <div class="form-container">
      <div class="container">
        <h1 class="form-title">Reset Password</h1>
        <form class="form" th:onsubmit="return validate_reset_password()" th:action = "@{/resetPasswordHandler}" th:object = "${user}" id="sign-up-form" method="post" novalidate>
        <input type="hidden" name="token" th:value="${token}" />
          <input class="form-control" type="password" id="user-password" th:name="password" placeholder="Password" title="Please enter your password." required></input>
          <div class="validation-message" id="user-password-message"></div> 
          <input class="form-control" type="password" id="user-confirmpassword" th:name="confirmpassword" placeholder="Confirm Password" title="Please enter your password." required></input>
          <div class="validation-message" id="confirm-password-message"></div>
          <br />
          <button type="submit" id = "sign-in"class="btn btn-primary">Submit</button>
        </form>
        
        <!-- Flash attributes -->
		<div th:if="${message}">
			<p class="validation-message" th:text="${message}"></p>
		</div>
      </div>
    </div>
  </main>

  <!-- Footer -->
	<th:block th:replace="template :: screen-footer"></th:block>
</body>

</html>
